.header {
    background-color: #a0f3cc;
    text-align: center;
    padding: 5px;
}

.jumbotron {
    background-color: #fefddd;
    color: rgb(21, 78, 26);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 68px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}