#navigation-bar {
    background-color: #97df98;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
    border-right: 1px solid rgb(44, 97, 25);
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(97, 158, 99);
}

li:last-child {
    border-right: none;
    border-left: 1px solid rgb(44, 97, 25);
}